<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"
      name="viewport"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta content="dahuotu" name="author" />
    <title>Node单表代码生成工具</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script
      type="text/javascript"
      src="../javascripts/flexible.min.js"
    ></script>
    <style type="text/css"></style>
  </head>

  <body>
    <div id="app">
      <nav>
        <div class="nav-title">Node单表代码生成工具</div>
        <div class="nav-select">
          <select @change="select_database">
            <option value="">--请选择数据库--</option>
            <template v-for="(item,index) in database">
              <option :value="item.Database">{{item.Database}}</option>
            </template>
          </select>
          <select
            v-if="databaseName!=''"
            v-model="tableName"
            @change="select_table"
          >
            <option v-for="(item,index) in table" :value="item.name">
              {{item.name}}
            </option>
          </select>
        </div>
        <ul>
          <li v-if="databaseName!=''">
            <a href="#confdb">生成 conf/db.js代码</a>
          </li>
          <li v-if="tableName!=''">
            <a href="#appjs">生成 app.js入口路由代码</a>
          </li>
          <li v-if="tableName!=''">
            <a href="#routesjs">生成 routes/{{tableName}}.js代码</a>
          </li>
          <li v-if="tableName!=''">
            <a href="#sqlMapping">生成 dao/sqlMapping.js代码</a>
          </li>
          <li v-if="tableName!=''">
            <a href="#dao">生成 dao/dao.js代码</a>
          </li>
        </ul>
      </nav>
      <article>
        <h2>生成表{{tableName}}调用代码</h2>
        <div class="code">
          <section id="confdb" v-if="databaseName!=''">
            <h4><strong>生成 conf/db.js 代码</strong></h4>
            <div class="gary">MySql数据库连接配置</div>
            <h4>代码</h4>
            <div class="gary">
              <div
                class="btncopy"
                @click="copy_code('confdb_copy','db.js代码复制成功！')"
              >
                复制
              </div>
              <pre ref="confdb_copy">
/**
 * 整个node站点MySql数据库连接配置串
 * 存储在大火兔提供的node框架conf文件夹下，只要替换db.js或者复制以上连接串找到db.js内即可
 */
module.exports = {
	mysql: {
		host: '{{connection.host}}', 	//数据主机地址
		user: '{{connection.user}}',	   	//数据库用户名
		password: '{{connection.password}}',		//数据库密码
		database:'{{databaseName}}',	//数据库名称
		port: {{connection.port}} 		//端口号
	}
};
			                </pre
              >
            </div>
          </section>
          <section id="appjs" v-if="tableName!=''">
            <h4><strong>生成 app.js 入口路由代码</strong></h4>
            <div class="gary">生成app.js 入口业务模块路由代码</div>
            <h4>调用说明</h4>
            <div class="gary">
              <pre>
//放在示例路由代码下面
//var example = require("./routes/example");
							</pre
              >
            </div>
            <h4>代码</h4>
            <div class="gary">
              <div
                class="btncopy"
                @click="copy_code('appjs_copy1','app.js入口路由代码复制成功！')"
              >
                复制
              </div>
              <pre ref="appjs_copy1">
//{{tableName}}路由
var {{tableName}} = require("./routes/{{tableName}}");
			                </pre
              >
            </div>
            <h4>调用说明</h4>
            <div class="gary">
              <pre>
//放在 pintuer Api 示例代码下面
//app.use("/example", example);
							</pre
              >
            </div>
            <h4>代码</h4>
            <div class="gary">
              <div
                class="btncopy"
                @click="copy_code('appjs_copy2','app.js入口路由调用代码复制成功！')"
              >
                复制
              </div>
              <pre ref="appjs_copy2">
//{{tableName}}
app.use("/{{tableName}}", {{tableName}});
			                </pre
              >
            </div>
          </section>
          <section id="sqlMapping" v-if="tableName!=''">
            <h4><strong>生成 dao/{{tableName}}/sqlMapping.js</strong></h4>
            <div class="gary">
              生成 dao/{{tableName}}/sqlMapping.js SQL语句代码
            </div>
            <h4>代码</h4>
            <div class="gary">
              <div
                class="btncopy"
                @click="copy_code('sqlMapping_copy','sqlMapping.js代码复制成功！')"
              >
                复制
              </div>
              <pre ref="sqlMapping_copy">
/*
{{tableName}}:CRUD SQL语句
路径:dao/{{tableName}}/sqlMapping.js
*/
var {{tableName}} = {
	//新增一条记录，对应路由:add
	insert: 'INSERT INTO {{tableName}}(<template v-for="(item,index) in columns">{{item['字段名']}}<template v-if="index!=(columns.length-1)">,</template></template>) VALUES (<template v-for="(item,index) in columns">?<template v-if="index!=(columns.length-1)">,</template></template>)',
	//删除一条记录，对应路由:del
	delete: 'DELETE FROM {{tableName}} WHERE <template v-for="(item,index) in keys">{{item['字段名']}}=?<template v-if="index!=(keys.length-1)">,</template></template>',
	//删除指定条件的多条记录，对应路由:delete
	deleteByWhere: 'DELETE FROM {{tableName}} WHERE 1=1<template v-for="(item,index) in columns"> AND {{item['字段名']}}=?<template v-if="index!=(columns.length-1)"></template></template>',
	//更新一条记录，对应路由:edit
	edit: 'UPDATE {{tableName}} SET<template v-for="(item,index) in columns"> {{item['字段名']}}=?<template v-if="index!=(columns.length-1)">,</template></template> WHERE <template v-for="(item,index) in keys">{{item['字段名']}}=?<template v-if="index!=(keys.length-1)">,</template></template>',
	//更新指定条件的记录，对应路由:update
	updateByWhere: 'UPDATE {{tableName}} SET<template v-for="(item,index) in columns"> {{item['字段名']}}=?<template v-if="index!=(columns.length-1)">,</template></template> WHERE 1=1<template v-for="(item,index) in columns"> AND {{item['字段名']}}=?<template v-if="index!=(columns.length-1)"></template></template>',
	//查询一条记录的详情，对应路由:id
	queryById: 'SELECT * FROM {{tableName}} WHERE <template v-for="(item,index) in keys">{{item['字段名']}}=?<template v-if="index!=(keys.length-1)">,</template></template>',
	//查询指定条件的记录，对应路由:query
	queryByWhere: 'SELECT * FROM {{tableName}} WHERE 1=1<template v-for="(item,index) in columns"> AND {{item['字段名']}}=?<template v-if="index!=(columns.length-1)"></template></template>',
	//查询所有记录，对应路由:list
	queryAll: 'SELECT * FROM {{tableName}}',
	//查询置顶记录，对应路由:top
	queryTop: 'SELECT * FROM {{tableName}} LIMIT ?',
	//查询指定条件的分页记录，对应路由:page
	queryPage: 'SELECT * FROM {{tableName}} WHERE 1=1<template v-for="(item,index) in columns"> AND {{item['字段名']}}=?<template v-if="index!=(columns.length-1)"></template></template> LIMIT ?,?'
};

module.exports = {{tableName}};
			                </pre>
            </div>
          </section>
          <section id="routesjs" v-if="tableName!=''">
            <h4><strong>生成 routes/{{tableName}}.js</strong></h4>
            <div class="gary">生成 routes/{{tableName}}.js 路由代码</div>
            <h4>代码</h4>
            <div class="gary">
              <div
                class="btncopy"
                @click="copy_code('routesjs_copy','路由代码复制成功！')"
              >
                复制
              </div>
              <pre ref="routesjs_copy">
var express = require('express');
var router = express.Router();
var $dao = require('../dao/{{tableName}}/dao');

/* 
GET {{tableName}} listing.
路由路径 routes/{{tableName}}.js
*/
router.get('/', function (req, res, next) {
	res.json({
		code: '0',
		msg: 'sucess',
		data: ''
	});
});

//新增一条记录，对应路由:add
router.post('/add', function (req, res, next) {
	$dao.add(req, res, next);
});
//删除一条记录，对应路由:del
router.post('/del', function (req, res, next) {
	$dao.delete(req, res, next);
});
//删除指定条件的多条记录，对应路由:delete
router.post('/delete', function (req, res, next) {
	$dao.deleteByWhere(req, res, next);
});
//更新一条记录，对应路由:edit
router.post('/edit', function (req, res, next) {
	$dao.update(req, res, next);
});
//更新指定条件的记录，对应路由:update
router.post('/update', function (req, res, next) {
	$dao.updateByWhere(req, res, next);
});
//查询一条记录的详情，对应路由:id
router.get('/id', function (req, res, next) {
	$dao.queryById(req, res, next);
});
//查询指定条件的记录，对应路由:query
router.get('/query', function (req, res, next) {
	$dao.queryByWhere(req, res, next);
});
//查询所有记录，对应路由:list
router.get('/list', function (req, res, next) {
	$dao.queryAll(req, res, next);
});
//查询置顶记录，对应路由:top
router.get('/top', function (req, res, next) {
	$dao.queryTop(req, res, next);
});
//查询指定条件的分页记录，对应路由:page
router.get('/page', function (req, res, next) {
	$dao.queryPage(req, res, next);
});


/*
自定义路由，自行增加
*/

module.exports = router;
			                </pre
              >
            </div>
          </section>
          <section id="dao" v-if="tableName!=''">
            <h4><strong>生成 dao/{{tableName}}/dao.js</strong></h4>
            <div class="gary">生成 dao/{{tableName}}/dao.js 逻辑代码</div>
            <h4>代码</h4>
            <div class="gary">
              <div
                class="btncopy"
                @click="copy_code('dao_copy','dao.js逻辑代码复制成功！')"
              >
                复制
              </div>
              <pre ref="dao_copy">
/*
说明:实现与MySQL交互
方式:Api方式
路径:dao/{{tableName}}/dao.js
*/

var $mysql = require('mysql');
var $conf = require('../../conf/db');
var $util = require('../../util/util');
var $sql = require('./sqlMapping');

// 使用连接池，提升性能
var pool = $mysql.createPool($util.extend({}, $conf.mysql));

module.exports = {
	add: function (req, res, next) {
		//Post方式新增,对应路由 add
		var param = req.body;
		if (<template v-for="(item,index) in columns"> param.{{item['字段名']}}==null <template v-if="index!=(columns.length-1)">||</template></template>) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			connection.query($sql.insert, [<template v-for="(item,index) in columns">param.{{item['字段名']}}<template v-if="index!=(columns.length-1)">,</template></template>], function (err2, result) {
				if (result.affectedRows > 0) {
					result = {
						code: 0,
						msg: '新增成功',
						data: []
					};
				} else {
					result = {
						code: -1,
						msg: '新增失败:' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	delete: function (req, res, next) {
		//通过ID删除,对应路由 del
		var param = req.body;
		if (<template v-for="(item,index) in keys">param.{{item['字段名']}}==null<template v-if="index!=(keys.length-1)">||</template></template>) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			connection.query($sql.delete, [<template v-for="(item,index) in keys">param.{{item['字段名']}}<template v-if="index!=(keys.length-1)">,</template></template>], function (err2, result) {
				if (result.affectedRows > 0) {
					result = {
						code: 0,
						msg: '删除成功',
						data: []
					};
				} else {
					result = {
						code: -1,
						msg: '删除失败:' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	deleteByWhere: function (req, res, next) {
		//通过指定条件删除,对应路由 delete
		var param = req.body;
		if (<template v-for="(item,index) in columns"> param.{{item['字段名']}}==null <template v-if="index!=(columns.length-1)">||</template></template>) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			connection.query($sql.deleteByWhere, [<template v-for="(item,index) in columns">param.{{item['字段名']}}<template v-if="index!=(columns.length-1)">,</template></template>], function (err2, result) {
				if (result.affectedRows > 0) {
					result = {
						code: 0,
						msg: '删除成功',
						data: []
					};
				} else {
					result = {
						code: -1,
						msg: '删除失败:' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	update: function (req, res, next) {
		//通过ID更新,对应路由 edit
		var param = req.body;
		if (<template v-for="(item,index) in columns"> param.{{item['字段名']}}==null <template v-if="index!=(columns.length-1)">||</template></template><template v-for="(item,index) in keys"> || param.{{item['字段名']}}==null<template v-if="index!=(keys.length-1)">||</template></template>) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			connection.query($sql.edit, [<template v-for="(item,index) in columns">param.{{item['字段名']}}<template v-if="index!=(columns.length-1)">,</template></template><template v-for="(item,index) in keys">,param.{{item['字段名']}}<template v-if="index!=(keys.length-1)">,</template></template>], function (err2, result) {
				if (result.affectedRows > 0) {
					result = {
						code: 0,
						msg: '修改成功',
						data: []
					};
				} else {
					result = {
						code: -1,
						msg: '修改失败:' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	updateByWhere: function (req, res, next) {
		//通过指定条件更新,对应路由 update
		var param = req.body;
		if (<template v-for="(item,index) in columns"> param.{{item['字段名']}}==null ||<template v-if="index!=(columns.length-1)"></template></template><template v-for="(item,index) in columns"> param.que{{item['字段名']}}==null<template v-if="index!=(columns.length-1)">||</template></template>) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			connection.query($sql.updateByWhere, [<template v-for="(item,index) in columns">param.{{item['字段名']}},<template v-if="index!=(columns.length-1)"></template></template><template v-for="(item,index) in columns">param.que{{item['字段名']}}<template v-if="index!=(columns.length-1)">,</template></template>], function (err2, result) {
				if (result.affectedRows > 0) {
					result = {
						code: 0,
						msg: '修改成功',
						data: []
					};
				} else {
					result = {
						code: -1,
						msg: '修改失败' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	queryById: function (req, res, next) {
		//通过ID查询详情,对应路由id
		var param = req.query;
		if (<template v-for="(item,index) in keys">param.{{item['字段名']}}==null<template v-if="index!=(keys.length-1)">||</template></template>) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			connection.query($sql.queryById, [<template v-for="(item,index) in keys">param.{{item['字段名']}}<template v-if="index!=(keys.length-1)">,</template></template>], function (err2, result) {
				if (result != null) {
					result = {
						code: 0,
						msg: '查询成功',
						data: result
					};
				} else {
					result = {
						code: -1,
						msg: '查询失败' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	queryByWhere: function (req, res, next) {
		//通过指定条件查询列表,对应路由query
		var param = req.query;
		if (<template v-for="(item,index) in columns"> param.{{item['字段名']}}==null <template v-if="index!=(columns.length-1)">||</template></template>) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			connection.query($sql.queryByWhere, [<template v-for="(item,index) in columns">param.{{item['字段名']}}<template v-if="index!=(columns.length-1)">,</template></template>], function (err2, result) {
				if (result != null) {
					result = {
						code: 0,
						msg: '查询成功',
						data: result
					};
				} else {
					result = {
						code: -1,
						msg: '查询失败' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	queryAll: function (req, res, next) {
		//查询所有列表,对应路由list
		pool.getConnection(function (err, connection) {
			connection.query($sql.queryAll, function (err2, result) {
				if (result != null) {
					result = {
						code: 0,
						msg: '查询成功',
						data: result
					};
				} else {
					result = {
						code: -1,
						msg: '查询失败' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	queryTop: function (req, res, next) {
		//查询前多少条记录,对应路由top
		var param = req.query;
		if (param.top == null) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			connection.query($sql.queryTop, [Number(param.top)], function (err2, result) {
				if (result != null) {
					result = {
						code: 0,
						msg: '查询成功',
						data: result
					};
				} else {
					result = {
						code: -1,
						msg: '查询失败' + err2,
						data: []
					};
				}
				$util.jsonMsg(res, result);
				connection.release();
			});
		});
	},
	queryPage: function (req, res, next) {
		//通过指定条件查询分页列表,对应路由page
		var param = req.query;
		if (param.index == null || param.size == null) {
			result = {
				code: -1,
				msg: '参数错误'
			};
			$util.jsonMsg(res, result);
			return;
		}
		pool.getConnection(function (err, connection) {
			var beign = (Number(param.index) - 1) * Number(param.size);
			var end = Number(param.size);
			var sqlWhere = 'SELECT * FROM {{tableName}} WHERE 1=1';
			var sqlTotal = `SELECT COUNT(0) AS 'total' FROM {{tableName}} WHERE 1=1`;
			var sqlPara = [];
      <template v-for="(item,index) in columns">
                        if (param.{{item['字段名']}} != null && param.{{item['字段名']}} != '') {
                          sqlWhere += ' AND {{item['字段名']}}=? ';
                          sqlTotal += ' AND {{item['字段名']}}=? ';
                          sqlPara.push(param.{{item['字段名']}});
                        },
      </template>
			if (beign != null && end != null) {
				sqlWhere += ' LIMIT ?,?';
				sqlPara.push(beign, end);
			}
			//查询总记录数量
			connection.query(sqlTotal, sqlPara, function (err1, result1) {
				if (result1 != null) {
					//查询列表
					connection.query(sqlWhere, sqlPara, function (err2, result) {
						if (result != null) {
							result = {
								code: 0,
								msg: '查询成功',
								data: {
									total: String(result1[0].total),
									current: param.index,
									size: param.size,
									list: result,
								}
							};
						} else {
							result = {
								code: -1,
								msg: '查询失败' + err2,
								data: []
							};
						}
						$util.jsonMsg(res, result);
						connection.release();
					});
				} else {
					result = {
						code: -1,
						msg: '查询失败' + err1,
						data: []
					};
					$util.jsonMsg(res, result);
					connection.release();
				}
			});
		});
	},
};								
			                </pre>
            </div>
          </section>
        </div>
        <div class="mads">
          作者：
          <a href="https://www.dahuotu.com/" target="_blank">大火兔</a>
        </div>
      </article>
      <div class="layer" ref="layer_alert">
        <div class="alert">
          <p ref="layer_msg"></p>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../javascripts/vue.min.js"></script>
  <script type="text/javascript" src="../javascripts/axios.min.js"></script>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        connection: [],
        database: [],
        databaseName: "",
        table: [],
        tableName: "",
        column: [],
        keys: [],
        columns: [],
      },
      mounted() {
        var that = this;
        this.load_database();
      },
      methods: {
        load_database() {
          //查询所有数据
          axios
            .get("/api/config", {
              params: {
                type: "database",
              },
            })
            .then(function (response) {
              if (response.data.code == 0) {
                vm.database = response.data.data;
              }
            })
            .catch(function (error) {
              console.log(error);
            })
            .then(function () {
              // 总是会执行
            });
        },
        select_database(e) {
          //选中数据库
          vm.databaseName = e.target.value;
          vm.load_connection();
          vm.load_tables(e.target.value);
        },
        load_connection() {
          //加载连接配置
          axios
            .get("/api/connection", {
              params: {},
            })
            .then(function (response) {
              if (response.data.code == 0) {
                vm.connection = response.data.data[0];
              }
            })
            .catch(function (error) {
              console.log(error);
            })
            .then(function () {
              // 总是会执行
            });
        },
        load_tables(e) {
          //加载库下的所有表
          axios
            .get("/api/config", {
              params: {
                type: "table",
                database: e,
              },
            })
            .then(function (response) {
              if (response.data.code == 0) {
                vm.table = response.data.data;
              }
            })
            .catch(function (error) {
              console.log(error);
            })
            .then(function () {
              // 总是会执行
            });
        },
        select_table(e) {
          //选择表
          vm.tableName = e.target.value;
          vm.load_column(e.target.value);
        },
        load_column(e) {
          //获取选中表的所有字段
          axios
            .get("/api/config", {
              params: {
                type: "column",
                database: vm.databaseName,
                table: e,
              },
            })
            .then(function (response) {
              if (response.data.code == 0) {
                vm.column = response.data.data;
                vm.filter_keys(response.data.data);
                vm.filter_columns(response.data.data);
              }
            })
            .catch(function (error) {
              console.log(error);
            })
            .then(function () {
              // 总是会执行
            });
        },
        filter_keys(e) {
          //过滤主键
          let arr = e;
          let newArr = arr.filter((item, i, arr) => {
            return item["约束"] == "PRI";
          });
          vm.keys = newArr;
        },
        filter_columns(e) {
          //过滤非主键字段
          let arr = e;
          let newArr = arr.filter((item, i, arr) => {
            return item["约束"] != "PRI";
          });
          vm.columns = newArr;
        },
        show_msg(e) {
          //显示提示
          this.$refs.layer_alert.style = "display:inline-flex;";
          this.$refs.layer_msg.innerText = e;
          setTimeout(function () {
            vm.hide_msg();
          }, 1000);
        },
        hide_msg() {
          //隐藏提示
          this.$refs.layer_alert.style = "display:none;";
        },
        copy_code(content, message) {
          //复制代码
          var str = "";
          switch (content) {
            default:
              break;
            case "confdb_copy":
              str = this.$refs.confdb_copy.innerText;
              break;
            case "appjs_copy1":
              str = this.$refs.appjs_copy1.innerText;
              break;
            case "appjs_copy2":
              str = this.$refs.appjs_copy2.innerText;
              break;
            case "sqlMapping_copy":
              str = this.$refs.sqlMapping_copy.innerText;
              break;
            case "routesjs_copy":
              str = this.$refs.routesjs_copy.innerText;
              break;
            case "dao_copy":
              str = this.$refs.dao_copy.innerText;
              break;
          }
          //JS复制
          var aux = document.createElement("textarea");
          aux.value = str;
          document.body.appendChild(aux);
          aux.select();
          document.execCommand("copy");
          document.body.removeChild(aux);

          if (message == null) {
            vm.show_msg("复制成功");
          } else {
            vm.show_msg(message);
          }
        },
      },
    });
  </script>
</html>
